@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  line-height: 1.42857;
  color: #737373;
  height: 200vh;
  font-family: 'FuturaPT-Medium', sans-serif;
}

img {
  display: block;
}

a, button {
  text-decoration: none;
}

li {
  list-style: none;
}

#wrapper {
  width: 100vw;
  position: relative;
  display: block;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  width: 100vw;
  position: relative;
  border-bottom: 1px solid #ffa298;
  -webkit-box-shadow: 0 2px 4px 1px #e1e1e1;
          box-shadow: 0 2px 4px 1px #e1e1e1;
  z-index: 9;
}

header #mobile__header {
  display: none;
  border-top: 5px solid #ffa298;
  border-bottom: 1px solid #ffa298;
  background-color: #fff;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9800;
}

header #mobile__header .bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0 0 20px;
  font-family: 'FuturaPT-Medium', "Trebuchet MS", Arial, sans-serif;
  font-size: 20px;
  cursor: pointer;
}

header #mobile__header .bar .bar__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header #mobile__header .bar .bar__text {
  color: #ffa298;
}

header #mobile__header .bar:before {
  content: "\f0c9";
  font-family: FontAwesome;
  margin-right: 5px;
  font-size: 20px;
  color: #ffa298;
}

header #mobile__header .bar.active:before {
  content: "\f00d";
}

header #mobile__header .bar:after {
  content: "Menu";
  font-family: 'FuturaPT-Medium', "Trebuchet MS", Arial, sans-serif;
  margin-right: 5px;
  font-size: 20px;
  color: #ffa298;
}

header #mobile__header .bar.active:after {
  content: "Close";
}

header #mobile__header .mobile-header-i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 55px;
  width: 100vw;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #mobile__header .mobile-header-i .mobile-header-i__icons_acc span:before {
  content: "\f007";
  font-family: FontAwesome;
  font-size: 20px;
  color: #707070;
  padding-right: 15px;
}

header #mobile__header .mobile-header-i .mobile-header-i__icons_acc .accaunt {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 20px;
  top: 40px;
  z-index: 997;
  background: #fff;
  border: 1px solid #ededed;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  font-size: 14px;
  line-height: 1.42857;
  color: #737373;
  -webkit-box-shadow: 0 6px 12px black;
          box-shadow: 0 6px 12px black;
}

header #mobile__header .mobile-header-i .mobile-header-i__icons_acc .accaunt div a {
  color: #404040;
  font-size: 12px;
  padding: 0 15px;
  line-height: 25px;
  text-transform: uppercase;
}

header #mobile__header .mobile-header-i .mobile-header-i__icons_acc .accaunt div a:hover {
  color: #ffa298;
}

header #mobile__header .mobile-header-i .mobile-header-i__icons_acc:hover .accaunt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header #mobile__header .mobile-header-i > div > a {
  margin-right: 15px;
}

header #mobile__header .mobile-header-i > div > a i {
  font-size: 20px;
  color: #707070;
}

header .top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  font-family: 'FuturaPT-Medium', "Trebuchet MS", Arial, sans-serif;
}

header .top-header .message {
  max-width: 940px;
  width: 90vw;
  text-align: right;
  color: #404040;
  font-size: 11px;
  text-transform: none;
}

header .top-header .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 50px;
  max-width: 940px;
  width: 90vw;
}

header .top-header .menu-nav .menu-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .top-header .menu-nav .menu-nav__list .menu-nav__list_item {
  height: 50px;
  padding: 0 5px 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header .top-header .menu-nav .menu-nav__list .menu-nav__list_item .accaunt {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 40px;
  z-index: 997;
  background: #fff;
  border: 1px solid #ededed;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  font-size: 14px;
  line-height: 1.42857;
  color: #737373;
  -webkit-box-shadow: 0 6px 12px black;
          box-shadow: 0 6px 12px black;
}

header .top-header .menu-nav .menu-nav__list .menu-nav__list_item .accaunt div a {
  color: #404040;
  font-size: 12px;
  padding: 0 15px;
  line-height: 25px;
  text-transform: uppercase;
}

header .top-header .menu-nav .menu-nav__list .menu-nav__list_item .accaunt div a:hover {
  color: #ffa298;
}

header .top-header .menu-nav .menu-nav__list .menu-nav__list_item > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  height: 20px;
  color: #404040;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: 'FuturaPT-Medium', "Trebuchet MS", Arial, sans-serif;
}

header .top-header .menu-nav .menu-nav__list .menu-nav__list_item a:hover {
  color: #ffa298;
}

header .top-header .menu-nav .menu-nav__list .menu-nav__list_item:hover .accaunt {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

header .top-header .menu-nav .menu-nav__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .top-header .menu-nav .menu-nav__icons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  padding: 0 5px 0 5px;
  color: #404040;
}

header .top-header .menu-nav .menu-nav__icons div a {
  padding: 15px 10px;
}

header .top-header .menu-nav .menu-nav__icons div a i {
  color: #404040;
  font-size: 12px;
}

header .top-header .menu-nav .menu-nav__icons div a:hover i {
  color: #ffa298;
}

header .bottom-header {
  font-family: 'FuturaPT-Medium', "Trebuchet MS", Arial, sans-serif;
  width: 940px;
  margin: 30px auto 0;
  padding: 0 10px;
}

header .bottom-header .bottom-header__logo {
  position: relative;
  height: 75px;
}

header .bottom-header .bottom-header__logo img {
  position: absolute;
  left: -90px;
  height: 75px;
}

header .bottom-header .bottom-header__logo h1 {
  font-size: 10vw;
  position: relative;
  top: 0;
  line-height: 65px;
  margin: 0;
  padding: 0;
  margin-left: -5px;
  color: #ffa298;
}

header .bottom-header .bottom-header__menu .shop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  max-width: 940px;
  width: 95vw;
  height: 29px;
  margin-bottom: 1px;
}

header .bottom-header .bottom-header__menu .shop-menu .shop-menu__item a {
  letter-spacing: 0.57px;
  color: #2b2b2b;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-bottom: 5px solid transparent;
  padding: 0;
  letter-spacing: 0.57px;
  font-size: 16px;
  padding-bottom: 5px;
  font-family: 'FuturaPT-Medium', "Trebuchet MS", Arial, sans-serif;
}

header .bottom-header .bottom-header__menu .shop-menu .shop-menu__item > a:hover {
  color: #ffa298;
  border-bottom: 5px solid #ffa298;
}

header .bottom-header .bottom-header__menu .shop-menu .shop-menu__item .shop-menu__item_add {
  min-height: 340px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 7px;
  left: 0;
  border-top: 1px solid #ffa298;
  border-bottom: 1px solid #ffa298;
  width: 100vw;
  background: #fff;
  padding-bottom: 1;
}

header .bottom-header .bottom-header__menu .shop-menu .shop-menu__item .shop-menu__item_add .shop-menu__item_add_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-top: -20px;
  padding: 0;
  width: 90%;
  max-width: 940px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .bottom-header .bottom-header__menu .shop-menu .shop-menu__item .shop-menu__item_add .shop-menu__item_add_more li {
  width: 20%;
}

header .bottom-header .bottom-header__menu .shop-menu .shop-menu__item .shop-menu__item_add .shop-menu__item_add_more li > a {
  font-size: 12px;
  font-weight: bold;
}

header .bottom-header .bottom-header__menu .shop-menu .shop-menu__item .shop-menu__item_add .shop-menu__item_add_more li ul {
  padding: 0;
  width: 100%;
}

header .bottom-header .bottom-header__menu .shop-menu .shop-menu__item .shop-menu__item_add .shop-menu__item_add_more li ul li {
  width: 100%;
}

header .bottom-header .bottom-header__menu .shop-menu .shop-menu__item .shop-menu__item_add .shop-menu__item_add_more li ul li a {
  width: 100%;
  display: block;
  padding-top: 13px;
  font-size: 10px;
  font-weight: 400;
  color: #404040;
}

header .bottom-header .bottom-header__menu .shop-menu .shop-menu__item .shop-menu__item_add .shop-menu__item_add_more li ul li a:hover {
  color: #ffa298;
}

header .bottom-header .bottom-header__menu .shop-menu .shop-menu__item .shop-menu__item_add > div {
  max-width: 940px;
  width: 90vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .bottom-header .bottom-header__menu .shop-menu .shop-menu__item .shop-menu__item_add > div ul {
  margin: 0;
  padding: 0;
  width: 28%;
}

header .bottom-header .bottom-header__menu .shop-menu .shop-menu__item .shop-menu__item_add > div ul li {
  padding-bottom: 15px;
}

header .bottom-header .bottom-header__menu .shop-menu .shop-menu__item .shop-menu__item_add > div ul li a {
  font-size: 14px;
}

header .bottom-header .bottom-header__menu .shop-menu .shop-menu__item .shop-menu__item_add > div ul li a:hover {
  color: #ffa298;
}

header .bottom-header .bottom-header__menu .shop-menu .shop-menu__item .shop-menu__item_add > div .shop-menu__item_photo {
  width: 72%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -25px;
}

header .bottom-header .bottom-header__menu .shop-menu .shop-menu__item .shop-menu__item_add > div .shop-menu__item_photo > div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .bottom-header .bottom-header__menu .shop-menu .shop-menu__item .shop-menu__item_add > div .shop-menu__item_photo > div:first-child h4 {
  font-size: 27px;
  color: #000;
  margin-top: 0;
  margin-bottom: 10px;
}

header .bottom-header .bottom-header__menu .shop-menu .shop-menu__item .shop-menu__item_add > div .shop-menu__item_photo > div:first-child a:after {
  font-family: FontAwesome;
  content: "\f178";
  padding-left: 5px;
  color: #000;
}

header .bottom-header .bottom-header__menu .shop-menu .shop-menu__item .shop-menu__item_add > div .shop-menu__item_photo > div:first-child a:hover {
  color: #ffa298;
}

header .bottom-header .bottom-header__menu .shop-menu .shop-menu__item .shop-menu__item_add > div .shop-menu__item_photo > div:first-child a:hover::after {
  color: #ffa298;
  -webkit-transition: .1s;
  transition: .1s;
  padding-left: 8px;
}

header .bottom-header .bottom-header__menu .shop-menu .shop-menu__item .shop-menu__item_add > div .shop-menu__item_photo .hmpc {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .bottom-header .bottom-header__menu .shop-menu .shop-menu__item .shop-menu__item_add > div .shop-menu__item_photo .hmpc > div {
  width: 32%;
  -webkit-transition: .3s;
  transition: .3s;
}

header .bottom-header .bottom-header__menu .shop-menu .shop-menu__item .shop-menu__item_add > div .shop-menu__item_photo .hmpc > div img {
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

header .bottom-header .bottom-header__menu .shop-menu .shop-menu__item .shop-menu__item_add > div .shop-menu__item_photo .hmpc > div:hover {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

header .bottom-header .bottom-header__menu .shop-menu .shop-menu__item .shop-menu__item_add > div .shop-menu__item_photo .hmpc > div:hover img {
  border-bottom: 5px solid #ffa298;
  position: absolute;
}

#mooving-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 80px;
  top: -80px;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 2px 4px 1px #e1e1e1;
          box-shadow: 0 2px 4px 1px #e1e1e1;
  font-family: 'FuturaPT-Medium', "Trebuchet MS", Arial, sans-serif;
  margin-top: 0;
  padding: 0 10px;
  background: #fff;
  z-index: 1000;
  padding-top: 20px;
  border-bottom: 1px solid #ffa298;
  border-top: 10px solid #ffa298;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#mooving-header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95vw;
  max-width: 940px;
}

#mooving-header > div .moving__logo img {
  height: 45px;
}

#mooving-header > div .moving__shop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  width: 740px;
}

#mooving-header > div .moving__shop-menu .moving__shop-menu_item {
  height: 37px;
}

#mooving-header > div .moving__shop-menu .moving__shop-menu_item a {
  letter-spacing: 0.57px;
  color: #2b2b2b;
  text-transform: uppercase;
  margin-right: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-bottom: 5px solid transparent;
  padding: 0;
  line-height: 32px;
  letter-spacing: 0.57px;
  font-size: 14px;
  padding-bottom: 5px;
  font-family: 'FuturaPT-Medium', "Trebuchet MS", Arial, sans-serif;
}

#mooving-header > div .moving__shop-menu .moving__shop-menu_item > a:hover {
  color: #ffa298;
  border-bottom: 5px solid #ffa298;
}

#mooving-header > div .moving__shop-menu .moving__shop-menu_item .moving__shop-menu_item_add {
  min-height: 340px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 1px;
  left: 0;
  border-top: 1px solid #ffa298;
  border-bottom: 1px solid #ffa298;
  width: 100vw;
  background: #fff;
  padding-bottom: 1;
}

#mooving-header > div .moving__shop-menu .moving__shop-menu_item .moving__shop-menu_item_add .moving__shop-menu_item_add_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-top: -20px;
  padding: 0;
  width: 90%;
  max-width: 940px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#mooving-header > div .moving__shop-menu .moving__shop-menu_item .moving__shop-menu_item_add .moving__shop-menu_item_add_more li {
  width: 20%;
}

#mooving-header > div .moving__shop-menu .moving__shop-menu_item .moving__shop-menu_item_add .moving__shop-menu_item_add_more li > a {
  font-size: 12px;
  font-weight: bold;
}

#mooving-header > div .moving__shop-menu .moving__shop-menu_item .moving__shop-menu_item_add .moving__shop-menu_item_add_more li ul {
  padding: 0;
  width: 100%;
}

#mooving-header > div .moving__shop-menu .moving__shop-menu_item .moving__shop-menu_item_add .moving__shop-menu_item_add_more li ul li {
  width: 100%;
}

#mooving-header > div .moving__shop-menu .moving__shop-menu_item .moving__shop-menu_item_add .moving__shop-menu_item_add_more li ul li a {
  width: 100%;
  display: block;
  padding-top: 13px;
  font-size: 10px;
  font-weight: 400;
  color: #404040;
}

#mooving-header > div .moving__shop-menu .moving__shop-menu_item .moving__shop-menu_item_add .moving__shop-menu_item_add_more li ul li a:hover {
  color: #ffa298;
}

#mooving-header > div .moving__shop-menu .moving__shop-menu_item .moving__shop-menu_item_add > div {
  max-width: 940px;
  width: 90vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#mooving-header > div .moving__shop-menu .moving__shop-menu_item .moving__shop-menu_item_add > div ul {
  margin: 0;
  padding: 0;
  width: 28%;
}

#mooving-header > div .moving__shop-menu .moving__shop-menu_item .moving__shop-menu_item_add > div ul li {
  padding-bottom: 15px;
}

#mooving-header > div .moving__shop-menu .moving__shop-menu_item .moving__shop-menu_item_add > div ul li a {
  font-size: 14px;
}

#mooving-header > div .moving__shop-menu .moving__shop-menu_item .moving__shop-menu_item_add > div ul li a:hover {
  color: #ffa298;
}

#mooving-header > div .moving__shop-menu .moving__shop-menu_item .moving__shop-menu_item_add > div .moving__shop-menu_item_photo {
  width: 72%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -25px;
}

#mooving-header > div .moving__shop-menu .moving__shop-menu_item .moving__shop-menu_item_add > div .moving__shop-menu_item_photo > div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mooving-header > div .moving__shop-menu .moving__shop-menu_item .moving__shop-menu_item_add > div .moving__shop-menu_item_photo > div:first-child h4 {
  font-size: 27px;
  color: #000;
  margin-top: 0;
  margin-bottom: 10px;
}

#mooving-header > div .moving__shop-menu .moving__shop-menu_item .moving__shop-menu_item_add > div .moving__shop-menu_item_photo > div:first-child a:after {
  font-family: FontAwesome;
  content: "\f178";
  padding-left: 5px;
  color: #000;
}

#mooving-header > div .moving__shop-menu .moving__shop-menu_item .moving__shop-menu_item_add > div .moving__shop-menu_item_photo > div:first-child a:hover {
  color: #ffa298;
}

#mooving-header > div .moving__shop-menu .moving__shop-menu_item .moving__shop-menu_item_add > div .moving__shop-menu_item_photo > div:first-child a:hover::after {
  color: #ffa298;
  -webkit-transition: .1s;
  transition: .1s;
  padding-left: 8px;
}

#mooving-header > div .moving__shop-menu .moving__shop-menu_item .moving__shop-menu_item_add > div .moving__shop-menu_item_photo .hmpc {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#mooving-header > div .moving__shop-menu .moving__shop-menu_item .moving__shop-menu_item_add > div .moving__shop-menu_item_photo .hmpc > div {
  width: 32%;
  -webkit-transition: .3s;
  transition: .3s;
}

#mooving-header > div .moving__shop-menu .moving__shop-menu_item .moving__shop-menu_item_add > div .moving__shop-menu_item_photo .hmpc > div img {
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

#mooving-header > div .moving__shop-menu .moving__shop-menu_item .moving__shop-menu_item_add > div .moving__shop-menu_item_photo .hmpc > div:hover {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

#mooving-header > div .moving__shop-menu .moving__shop-menu_item .moving__shop-menu_item_add > div .moving__shop-menu_item_photo .hmpc > div:hover img {
  border-bottom: 5px solid #ffa298;
  position: absolute;
}

#mooving-header > div .mooving__menu-nav_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#mooving-header > div .mooving__menu-nav_icons > div {
  cursor: pointer;
}

#mooving-header > div .mooving__menu-nav_icons > div p {
  font-size: 16px;
  color: #707070;
  padding: 0 0 0 13px;
}

#mooving-header.down {
  -webkit-transition: .5s;
  transition: .5s;
  top: 0;
  padding-bottom: 10px;
}

#mooving-header.down > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 9999;
  -webkit-transition: 1s;
  transition: 1s;
}

.search-modal .search-modal__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  max-width: 550px;
  width: 100% !important;
  background-color: #f7f7f7;
  margin: 200px auto 0;
  border-radius: 0;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  color: #404040;
  height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-modal .search-modal__cont form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 100%;
  font-family: 'FuturaPT-Medium', "Trebuchet MS", Arial, sans-serif;
  border: 1px solid #ffa298;
  padding: 2px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-modal .search-modal__cont form select {
  top: 0px;
  left: 0px;
  height: 100%;
  outline: none;
  border: none;
}

.search-modal .search-modal__cont form input[type=text] {
  width: 100%;
  height: 100%;
  padding-right: 40px;
  outline: none;
  padding: 0 10px;
  border: none;
}

.search-modal .search-modal__cont form:focus-within {
  border: 3px solid #ffa298;
  padding: 0;
}

.search-of {
  background: red;
  -webkit-transition: 1s;
  transition: 1s;
  display: none;
}

header .basket {
  display: none;
  position: absolute;
  border: 2px solid red;
  width: 320px;
  background: white;
  padding: 15px;
  color: #404040;
  border: 1px solid #ededed;
  z-index: 998;
}

header .basket .basket__head {
  color: #000;
  font-family: 'FuturaPT-Medium', "Trebuchet MS", Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 1.4;
  padding: 5px 5px 20px 5px;
  text-align: center;
  text-transform: initial;
  margin-bottom: 0px;
}

header .basket .basket__head .basket__head_close {
  position: absolute;
  width: 40px;
  display: block;
  color: #404040;
  text-decoration: none;
  font-weight: normal;
  font-size: 30px;
  position: absolute;
  font-family: 'FuturaPT-Medium', "Trebuchet MS", Arial, sans-serif;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  top: 15px;
  font-size: 20px;
  right: 40px;
  cursor: pointer;
}

header .basket .basket__head .basket__head_close:hover {
  opacity: 1;
}

header .basket .basket__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 120px;
}

header .basket .basket__body .basket__body_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 5px 20px 11px;
  border-bottom: 1px solid #ddd;
  position: relative;
}

header .basket .basket__body .basket__body_item .basket__body_item_img {
  padding: 15px 10px;
}

header .basket .basket__body .basket__body_item .basket__body_item_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 212px;
  padding-left: 60px;
}

header .basket .basket__body .basket__body_item .basket__body_item_details > * {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .basket .basket__body .basket__body_item .basket__body_item_details .basket__body_item_details_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'FuturaPT-Medium', "Trebuchet MS", Arial, sans-serif;
  color: #ff7276;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  font-size: 19px;
}

header .basket .basket__body .basket__body_item .basket__body_item_details .basket__body_item_details_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .basket .basket__body .basket__body_item .basket__body_item_details .basket__body_item_details_price p {
  padding-right: 20px;
}

header .basket .basket__body .basket__body_item .basket__body_item_details .basket__body_item_details_price span {
  color: #ff595a;
}

header .basket .basket__body .basket__body_item .basket__body_item_details .basket__body_item_details_price span:after {
  content: 'руб';
  font-size: 10px;
  padding-left: 4px;
  color: #ff595a;
}

header .basket .basket__body .basket__body_item .basket__body_item_details .basket__body_details_quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .basket .basket__body .basket__body_item .basket__body_item_details .basket__body_details_quantity p {
  padding-right: 20px;
}

header .basket .basket__body .basket__body_item .basket__body_item_details .basket__body_details_quantity input {
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 2px;
  width: 3.2em;
  text-align: center;
  height: 30px;
  border: 2px solid #e6e6e6;
  background: #fff;
  font-size: 16px;
  color: #ff595a;
}

header .basket .basket__body .basket__body_item .basket__body_item_details .basket__body_details_quantity input:focus {
  outline: 3px solid #ff595a;
}

header .basket .subtotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  text-align: center;
  line-height: 2em;
  padding: 20px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

header .basket .subtotal p {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  line-height: 1;
  font-weight: 600;
  color: #000;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
  text-transform: uppercase;
}

header .basket .subtotal span {
  font-family: 'FuturaPT-Medium', "Trebuchet MS", Arial, sans-serif;
  text-align: center;
  line-height: 2em;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .basket .minicart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  margin-top: 0px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

header .basket .minicart .checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 15px 0 15px 5px;
  width: 145px;
  margin-left: auto;
  margin-right: auto;
  height: 48px;
  background: #ffa298;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  padding: 7px 15px;
  border: 0;
  color: #404040;
  font-size: 18px;
  font-weight: normal;
  font-family: 'FuturaPT-Medium', "Trebuchet MS", Arial, sans-serif;
  line-height: 19px;
  text-align: center;
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .basket .minicart .checkout:hover {
  background: #ff595a;
  color: #fff;
}

header .basket .minicart .in-shop {
  height: 33px;
  line-height: 39px;
  text-transform: uppercase;
  font-size: 13px;
  color: #404040;
  font-family: 'FuturaPT-Medium', "Trebuchet MS", Arial, sans-serif;
}

.basket.active {
  display: block;
}

#main-page {
  display: block;
}

#main-page #main-banner {
  width: 100vw;
}

#main-page #main-banner .main-banner {
  padding: 0;
  margin: 0;
  outline: none;
}

#main-page #main-banner .main-banner .slick-arrow {
  position: absolute;
  opacity: 0;
}

#main-page #main-banner .main-banner li {
  outline: none;
}

#main-page #main-banner .main-banner li img {
  width: 100vw;
  height: auto;
}

#main-page .grey {
  background: #efefef;
}

#main-page .grey > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 960px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#main-page .grey > div > a {
  color: #ffa298;
  display: inline-block;
  font-size: 28px;
  padding: 45px 0;
  width: 49%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

#main-page .grey > div a:hover {
  color: #000;
  text-decoration: underline;
}

#main-page #shop {
  display: block;
  margin: 0;
  width: 100vw;
  max-width: 960px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

#main-page #shop h2 {
  font-family: 'SouvenirStd-Demi', Arial, sans-serif;
  font-style: normal;
  text-transform: none;
  font-size: 30px;
  line-height: 35px;
  color: #000;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#main-page #shop .shop-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 0 80px 0;
  height: 220px;
}

#main-page #shop .shop-row .shop-row__item {
  width: 33.33333%;
  padding: 0 10px;
  position: relative;
}

#main-page #shop .shop-row .shop-row__item h5 {
  font-size: 19px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.7;
  color: #000;
  text-rendering: optimizeSpeed;
  font-family: 'FuturaPT-Medium', sans-serif;
}

#main-page #shop .shop-row .shop-row__item h5::after {
  content: "";
  font-size: 12px;
  color: #000;
  width: 100%;
  display: block;
  border-top: 1px solid #000;
  height: 1px;
}

#main-page #shop .shop-row .shop-row__item ul {
  float: left;
  width: 43%;
  margin: 10px 0 0 0;
  padding: 0;
}

#main-page #shop .shop-row .shop-row__item ul li {
  padding-bottom: 10px;
}

#main-page #shop .shop-row .shop-row__item ul li a {
  font-size: 14px;
  font-family: 'FuturaPT-Book', "Trebuchet MS", Arial, sans-serif;
  font-style: normal;
  color: #000;
}

#main-page #shop .shop-row .shop-row__item ul li:last-child {
  padding-top: 7px;
}

#main-page #shop .shop-row .shop-row__item ul li:last-child a:after {
  font-family: FontAwesome;
  content: "\f178";
  padding-left: 5px;
  color: #000;
}

#main-page #shop .shop-row .shop-row__item ul a:hover {
  color: #ffa298;
}

#main-page #shop .shop-row .shop-row__item ul li:last-child a:hover::after {
  color: #ffa298;
  -webkit-transition: .1s;
  transition: .1s;
  padding-left: 8px;
}

#main-page #shop .shop-row .shop-row__item a img {
  margin-top: -10px;
  margin-left: -10px;
  position: absolute;
  max-width: 57%;
  display: block;
  height: auto;
  right: 10px;
}

#main-page .gender {
  display: block;
  width: 90vw;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

#main-page .gender .gender__head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'SouvenirStd-Demi', Arial, sans-serif;
  font-style: normal;
  text-transform: none;
  font-size: 48px;
  line-height: 50px;
  color: #000;
  margin-top: 13px;
  margin-bottom: 10px;
}

#main-page .gender .gender__text {
  text-align: center;
  font-family: 'FuturaPT-Medium', "Trebuchet MS", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  padding: 4px 0 12px 0;
  color: #000;
  text-transform: none;
  margin: 0 0 10px;
  text-rendering: geometricPrecision;
}

#main-page .gender .gender__choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#main-page .gender .gender__choose a {
  background: #ffa298;
  display: inline-block;
  border: 0;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  font-family: 'FuturaPT-Medium', "Trebuchet MS", Arial, sans-serif;
  line-height: 19px;
  text-align: center;
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
  padding: 20px 50px;
}

#main-page .gender .gender__choose a:hover {
  background: #ff595a;
}

#main-page .second-banners {
  width: 100vw;
}

#main-page .second-banners > h4 {
  width: 90vw;
  max-width: 940px;
  text-align: center;
  font-family: 'SouvenirStd-Demi', Arial, sans-serif;
  font-style: normal;
  text-transform: none;
  font-size: 42px;
  line-height: 48px;
  color: #000;
  margin-bottom: 24px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-rendering: optimizeSpeed;
}

#main-page .second-banners > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 22px;
}

#main-page .second-banners > div img {
  width: 100%;
  min-width: 1400px;
  height: auto;
}

#main-page .second-banners > div div {
  position: absolute;
  width: 940px;
  display: block;
  text-align: center;
}

#main-page .second-banners > div div h4 {
  position: relative;
  font-family: 'SouvenirStd-Demi', Arial, sans-serif;
  font-style: normal;
  text-transform: none;
  font-size: 48px;
  line-height: 61px;
  top: 10%;
  margin: 0;
  text-align: center;
}

#main-page .second-banners > div div a {
  position: relative;
  top: 40%;
  background: #ffa298;
  display: inline-block;
  padding: 7px 15px;
  border: 0;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  font-family: 'FuturaPT-Medium', "Trebuchet MS", Arial, sans-serif;
  line-height: 19px;
  text-align: center;
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
  padding: 20px 50px;
  margin-top: 32px;
  cursor: pointer;
}

#main-page .second-banners > div div a:hover {
  background: #ff595a;
}

#main-page .second-banners .second-banners__1 div h4 {
  color: #000;
}

#main-page .second-banners .second-banners__2 > div h4 {
  color: #fff;
}

#main-page #quote {
  display: block;
  width: 100vw;
  background: #f9f9f9;
  margin-top: -22px;
  padding-top: 120px;
}

#main-page #quote .quote {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

#main-page #quote .quote .quote__line {
  position: absolute;
  top: 60px;
  width: 100%;
  height: 2px;
  background-color: #ffa298;
}

#main-page #quote .quote .quote__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 120px;
  background: #f9f9f9;
  margin-right: auto;
  margin-left: auto;
  z-index: 9;
}

#main-page #quote .quote .quote__logo img {
  height: 100px;
}

#main-page #quote .quote .quote__text {
  max-width: 940px;
  font-family: 'SouvenirStd-Demi', Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  padding: 0 6%;
  padding-bottom: 80px;
  text-align: center;
}

#main-page #quote .quote .quote__text footer {
  width: 100%;
  text-align: center;
}

#main-page #quote .quote .quote__text footer cite {
  color: #000;
  font-size: 24px;
  font-family: 'FuturaPT-Book', "Trebuchet MS", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

#main-page #quote .quote .quote__text footer cite:before {
  content: '\2014 \00A0';
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100vw;
  border-top: 1px solid #ffa298;
  -webkit-box-shadow: 0 -2px 4px 1px #e1e1e1;
          box-shadow: 0 -2px 4px 1px #e1e1e1;
}

#footer .top-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
  max-width: 960px;
  padding: 35px 10px 25px 10px;
}

#footer .top-footer > div {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

#footer .top-footer .top-footer__1 {
  width: 41.66667%;
}

#footer .top-footer .top-footer__1 .top-footer__1_title {
  position: relative;
  padding: 10px 0 0;
  margin-bottom: 5px;
  color: #3d3d3d;
  font-family: 'SouvenirStd-Demi', Arial, sans-serif;
  font-size: 17px;
  text-transform: none;
  font-weight: 700;
}

#footer .top-footer .top-footer__1 .top-footer__1_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
}

#footer .top-footer .top-footer__1 .top-footer__1_form input {
  border: 3px solid transparent;
  padding-left: 20px;
  max-width: 100%;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 1px solid #ffa298;
}

#footer .top-footer .top-footer__1 .top-footer__1_form input:focus {
  border: 3px solid #ffa298;
}

#footer .top-footer .top-footer__1 .top-footer__1_form button {
  background: #ffa298;
  cursor: pointer;
  border: none;
  outline: none;
  line-height: 17px;
  float: left;
  text-transform: lowercase;
  font-size: 16px;
  color: #fff;
  font-weight: normal;
  font-family: 'FuturaPT-Medium', "Trebuchet MS", Arial, sans-serif;
}

#footer .top-footer .top-footer__1 .top-footer__1_form button:hover {
  background: #ff595a;
}

#footer .top-footer .top-footer__1 .top-footer__1_big-text {
  font-size: 18px;
  color: #3d3d3d;
  margin: 30px 0 25px 0;
  font-family: 'FuturaPT-Medium', "Trebuchet MS", Arial, sans-serif;
}

#footer .top-footer .top-footer__1 .top-footer__1_small-text {
  font-size: 11px;
  color: #3d3d3d;
  margin: 30px 0 25px 0;
  font-family: 'FuturaPT-Medium', "Trebuchet MS", Arial, sans-serif;
}

#footer .top-footer .top-footer__1 .top-footer__1_social-icons {
  width: 100%;
  padding: 0;
  margin-top: 0;
  margin-bottom: 10px;
  list-style: none;
  margin: 0;
}

#footer .top-footer .top-footer__1 .top-footer__1_social-icons a i {
  color: #ffa298;
  font-size: 24px;
  padding-right: 28px;
}

#footer .top-footer .top-footer__2 {
  width: 33.33333%;
}

#footer .top-footer .top-footer__2 .top-footer__2_title {
  font-size: 22px;
  color: #3d3d3d;
  display: block;
  width: 100%;
  font-family: 'FuturaPT-Medium', "Trebuchet MS", Arial, sans-serif;
  line-height: 1.42857;
}

#footer .top-footer .top-footer__2 .top-footer__2_title:after {
  content: "";
  border-top: 1px solid #979797;
  width: 100%;
  color: #000;
  display: block;
  margin: 4px 0;
  width: 95%;
}

#footer .top-footer .top-footer__2 .top-footer__2_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0;
}

#footer .top-footer .top-footer__2 .top-footer__2_body > ul {
  display: block;
  padding: 0;
  margin: 0;
  width: 50%;
}

#footer .top-footer .top-footer__2 .top-footer__2_body > ul li {
  padding: 5px 0;
}

#footer .top-footer .top-footer__2 .top-footer__2_body > ul li a {
  font-size: 14px;
  line-height: 18px;
  color: #3d3d3d;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  font-family: 'FuturaPT-Medium', "Trebuchet MS", Arial, sans-serif;
}

#footer .top-footer .top-footer__3 {
  width: 16.66667%;
  margin-left: 8.33333%;
}

#footer .top-footer .top-footer__3 .top-footer__3_info a {
  font-size: 22px;
  color: #3d3d3d;
  line-height: 1.5;
  font-family: 'FuturaPT-Medium', "Trebuchet MS", Arial, sans-serif;
}

#footer .bottom-footer {
  background: #ffa298;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 78px;
}

#footer .bottom-footer h4 {
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  font-family: 'FuturaPT-Medium', "Trebuchet MS", Arial, sans-serif;
  text-align: left;
  padding: 0;
  max-width: 940px;
  width: 80vw;
}

@media screen and (min-width: 1024px) {
  header .bottom-header .bottom-header__logo h1 {
    font-size: 100px;
  }
}

@media screen and (max-width: 1024px) {
  #mooving-header > div > .moving__logo {
    display: none;
  }
  #mooving-header > div > .moving__shop-menu .moving__shop-menu_item a {
    font-size: 12px;
  }
  #wrapper #quote .quote {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
  #wrapper #quote .quote .cuote__text {
    width: 90vw;
  }
  footer .top-footer .top-footer__2 {
    width: 41.66667% !important;
  }
  footer .top-footer .top-footer__3 {
    width: 16.66667% !important;
    margin-left: 0 !important;
  }
}

@media screen and (min-width: 768px) {
  #wrapper .shop-menu .shop-menu__item:hover .shop-menu__item_add {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #wrapper .moving__shop-menu .moving__shop-menu_item:hover .moving__shop-menu_item_add {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  #mooving-header {
    display: none;
  }
  #mooving-header > div > .moving__shop-menu .moving__shop-menu_item {
    font-size: 12px;
  }
  #wrapper header #mobile__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #wrapper header .top-header {
    display: none;
  }
  #wrapper header .bottom-header {
    padding-top: 60px;
  }
  #wrapper header .bottom-header .bottom-header__menu {
    display: none;
    position: absolute;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vw;
    left: 0;
    background: #fff;
    top: 30px;
    height: auto;
    border-bottom: 2px solid #ffa298;
    -webkit-box-shadow: 0 2px 4px 1px #e1e1e1;
            box-shadow: 0 2px 4px 1px #e1e1e1;
  }
  #wrapper header .bottom-header .bottom-header__menu .shop-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    height: auto;
    width: 80vw;
    padding-bottom: 20px;
  }
  #wrapper header .bottom-header .bottom-header__menu .shop-menu > li {
    position: relative;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #000;
  }
  #wrapper header .bottom-header .bottom-header__menu .shop-menu > li .shop-menu__item_photo {
    display: none;
  }
  #wrapper header .bottom-header .bottom-header__menu .shop-menu > li .shop-menu__item_add {
    min-height: 1px;
  }
  #wrapper header .bottom-header .bottom-header__menu .shop-menu > li .shop-menu__item_add div {
    width: 100vw;
  }
  #wrapper header .bottom-header .bottom-header__menu .shop-menu > li .shop-menu__item_add .shop-menu__item_add_more {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80vw;
    position: relative;
    left: -10vw;
    margin-left: 0;
    padding-top: 10px;
  }
  #wrapper header .bottom-header .bottom-header__menu .shop-menu > li .shop-menu__item_add .shop-menu__item_add_more li {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #wrapper header .bottom-header .bottom-header__menu .shop-menu > li .shop-menu__item_add .shop-menu__item_add_more li ul {
    display: none;
  }
  #wrapper header .bottom-header .bottom-header__menu .shop-menu > li .shop-menu__item_add.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding: 0;
    padding-top: 20px;
    margin: 0;
    border: none;
    height: auto;
  }
  #wrapper header .bottom-header .bottom-header__menu .shop-menu > li .shop-menu__item_add.active div {
    height: auto;
  }
  #wrapper header .bottom-header .bottom-header__menu .shop-menu > li > a {
    font-size: 16px;
    font-weight: bold;
    padding: 0;
  }
  #wrapper header .bottom-header .bottom-header__menu .shop-menu > li > a:before {
    content: "\f078";
    font-family: FontAwesome;
    float: right;
    font-size: 12px;
  }
  #wrapper header .bottom-header .bottom-header__menu .shop-menu > li a:hover {
    border: none;
    color: #2b2b2b;
  }
  #wrapper header .bottom-header .bottom-header__menu .shop-menu > li:hover > a {
    border-bottom: 2px solid #2b2b2b;
  }
  #wrapper header .bottom-header .bottom-header__menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #wrapper .grey > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
  }
  #wrapper .grey > div a {
    font-size: 20px;
    font-weight: bold;
  }
  #wrapper .grey > div a:first-child {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  #wrapper .grey > div a:last-child {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  #wrapper #main-page #shop .shop-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    margin: 0;
  }
  #wrapper #main-page #shop .shop-row .shop-row__item {
    width: 90vw;
    height: 65px;
    overflow: hidden;
    -webkit-transition: .5s;
    transition: .5s;
  }
  #wrapper #main-page #shop .shop-row .shop-row__item h5 {
    margin-top: 20px;
  }
  #wrapper #main-page #shop .shop-row .shop-row__item h5:after {
    margin-top: 10px;
  }
  #wrapper #main-page #shop .shop-row .shop-row__item h5:before {
    content: "\f078";
    font-family: FontAwesome;
    float: right;
    font-size: 12px;
  }
  #wrapper #main-page #shop .shop-row .shop-row__item.active {
    height: 300px;
  }
  #wrapper #main-page .second-banners h4 {
    font-size: 30px;
  }
  #wrapper #quote .quote .quote__text {
    width: 90vw;
    font-size: 24px;
    margin: 0;
  }
  #footer .top-footer .top-footer__1 {
    width: 100%;
    margin-left: -15px;
  }
  #footer .top-footer .top-footer__2 {
    display: none;
  }
  #footer .top-footer .top-footer__3 {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */